body {
  font-family: "Inter", sans-serif;
  background: #f5f7fa;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  justify-content: center;
  margin: 0 auto;
}

main {
  background: #ffffff;
  padding: 100px 160px 100px 100px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-description {
  width: 400px;
}

aside {
  background: #1e2939;
  color: #ffffff;
  width: 370px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.cv-photo {
  display: block;
  position: relative;
  padding-top: 20px;
}

.header-secondary {
  color: #ffffff;
}

.contact-links {
  color: #ffffff;
  opacity: 50%;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.list-secondary {
  color: #fb6d3a;
  margin: 0px;
  padding-left: 0;
  list-style-position: inside;
}

.list-sec-item {
  color: white;
  font-size: 14px;
  line-height: 24px;
}

.ordered-list {
  font-weight: 500;
  margin: 0;
}

.project-links {
  color: #595959;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.normal-link {
  font-weight: 300;
}

.text-color {
  color: #fb6d3a;
}

.bold {
  font-weight: 600;
}

.description {
  color: #595959;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.annotation {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  padding-bottom: 8px;
  margin: 0;
}

.aside-block {
  margin-top: 50px;
  margin-left: 40px;
}

.main-block {
  margin-top: 32px;
}

.block {
  margin-bottom: 20px;
}

h1 {
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  margin: 0;
  padding-bottom: 12px;
}

h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  margin: 0;
  padding-bottom: 12px;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding-bottom: 12px;
}

h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding-bottom: 12px;
}

ul {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin-left: 0px;
  padding-left: 0;
  list-style-position: inside;
}

ol {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin-left: 0px;
  padding-left: 0;
  list-style-position: inside;
}
